/*Body*/
body{
	background-image:url("../imagenes/Fondito.jpg");
	font-family: Hatcher;
	font-size: 40px;
	color:#17202A;
	
}
hr{
	border:5px solid #8E44AD;
	border-radius: 5px;
}
p{
	font-family:Andria;
	font-size:20px;
	color: #212F3D;
}
table,td,tr{
	border:3px solid;
	border-color:#E67E22;
	text-align: center;
	background-color:#F0B27A
}
th{
	background-color:white;
}
ul{
	list-style-type:circle;
	list-style-position:inside;
}
ol{
	 list-style-type: upper-roman;
	 list-style-position: inside;
}
.pie{
	text-align:center;
	font-size:30px;
	color:#4D5656;
	font-family:Abrashe;
	font-weight:bold;
	
}
.table {
	font-family:Andria;
	font-size:15px;
	color:#212F3D
}
.title {
	font-family:Hatcher;
	font-size:70px;
	color:#212F3D;
	font-weight: bold;
	text-align:center;
}

.imgmarquesina{
	width:200px;
	height:200px;
}
.botones{
	width:70px;
	height:70px;
	border-radius:50%;
}
.imgTabla{
	width:200px;
	height:200px;
}
.OtrasImg{
	width:500px;
	height:500px;
	border:2px solid #E67E22;
}
@font-face{
	FONT-FAMILY: Andria;
	src: url("../Fuentes/Andria.ttf");
}
@font-face{
	FONT-FAMILY:kenyan coffee bd it ;
	src: url("../Fuentes/kenyan coffee bd it.ttf");
}
@font-face{
	FONT-FAMILY:Abrashe ;
	src: url("../Fuentes/Abrashe.ttf");
}
@font-face{
	FONT-FAMILY:Vacasiones;
	src: url("../Fuentes/Vacaciones-font-ffp-defharo.ttf");
}
@font-face{
	FONT-FAMILY:Hatcher;
	src: url("../Fuentes/Hatcher.ttf");
}
.Funtedegoogle{
font-family: 'Lobster', cursive;
}

*{
	margin:0px;
	padding:0px;
}
div#top{
	width:100%;
	height:200px;
	background-image:linear-gradient(#E67E22,#FAD7A0);
	font-size:100px;
	
}

div#principal{
	margin: auto;
	margin-top:30px;
	width:100%;
	height:150px;
	background-image:radial-gradient(#B03A2E,#F1948A);
}

div#piep{
	width:90%;
	height:720px;
	background-image:linear-gradient(#E67E22,#FAD7A0);
}

.caja{
	height:400px;
	width:300px;
	background:;
	border:1px solid ;
	margin:5px;
	color:black;
	text-align:cenetr;
	display:inline-block;
}

.caja:hover{
	box-shadow: 0 0 10px red;
	transform:scale(1.3);
}

.caja-texto{
	padding-top:2px;
	font-sixe:20px;
	color:#E67E22;
	font-weight:bold;
}

.texto-adicional{
	padding-top:5px;
	font-size:15px;
}

.carrousel{
    width:600px;
    margin:auto;
    box-sizing:border-box;
}
.conteCarrousel{
    width:100%;
    height:400px;
    overflow:hidden;
    box-sizing:border-box;
}
.itemCarrousel{
    position:relative;
    width:100%;
    height:100%;
    box-sizing:border-box;
}
.itemCarrouselTarjeta{
    width:100%;
    height:100%;
    box-sizing:border-box;
}
.itemCarrouselArrows{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    box-sizing:border-box;
}
.itemCarrouselArrows >i :hover{
    cursor:pointer;
}
.conterCarrouselController{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.conterCarrouselController >a{
    text-decoration:none;
    font-size:32px;
    color:grey;
}
.itemCarrouselArrows >a >i {
    color:white;
}
.menu{
	background:#D35400;
	border:3px solid #CA6F1E;
	margin:5px;
	color:D35400;
	text-align: center;
	display: inline-block;
	width: 100px;
	border-radius: 50%;
	}
	
	div#alrededor{
	margin-top:5px;
	width:20%;
	height:20%;
	background-color:#CCE2CC;
	border:2px solid #094F09;
}
.texto-parrafo{
	padding-top:5px;
	font-size:15px;
	color:#094F09;
	font-weight:bold;
	font-family:Comfortaa-Bold;
	src: url("../Fuentes/Comfortaa-Bold.ttf")
}


.tex{
	height:100px;
	width:100px;
	background:#D6EED8;
	border:1px solid #D6EED8;
	margin:black;
	text-align:center;
	display:inline-block;
}


.tex:hover{
	box-shadow: 0 0  10px #0A4B0F;
	transform:scale(1.3);	
}

